<form action="/rooms" method="POST">
  <div>
    <label for="room">room:</label>
    <input type="text" name="room">
  </div>
  <div>
    <label for="name">name:</label>
    <input type="text" name="name">
  </div>
  <div>
    <input type="text" name="id" value="{{user}}">
  </div>
  <div>
    <input type="submit" value="Log In">
  </div>
</form>